<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸른마을</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script defer src="script/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1>푸른마을</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">OnSale</a>
                        <ul class="submemu">
                            <li><a href="#">할인행사</a></li>
                            <li><a href="#">덤증정</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">기획전</a>
                        <ul class="submemu">
                            <li><a href="#">봄 먹거리</a></li>
                            <li><a href="#">여름 먹거리</a></li>
                            <li><a href="#">가을 먹거리</a></li>
                            <li><a href="#">겨울 먹거리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">푸른마을 레시피</a>
                        <ul class="submemu">
                            <li><a href="#">메인요리</a></li>
                            <li><a href="#">밑반찬</a></li>
                            <li><a href="#">간식</a></li>
                            <li><a href="#">브런치</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">매장안내</a>
                        <ul class="submemu">
                            <li><a href="#">신규매장</a></li>
                            <li><a href="#">추천매장</a></li>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="join">
                <div class="login">로그인</div>
                <div class="password">패스워드</div>
            </div>
        </header>
        <main id="main">
            <section class="section">
                <div class="notice">
                    <span><img src="images/slider01.png" alt=""></span>
                    <span><img src="images/slider02.png" alt=""></span>
                    <span><img src="images/slider03.png" alt=""></span>
                </div>
                <div class="sliderWrap">
                    <div class="inner">
                        <div class="slider"><img src="images/slider01.png" alt=""></div>
                        <div class="slider"><img src="images/slider02.png" alt=""></div>
                        <div class="slider"><img src="images/slider03.png" alt=""></div>
                    </div>
                </div>
            </section>
            <section class="banner">
                <div class="image">
                    <img src="images/gallery01.jpg" alt="">
                </div>
                <div class="desc">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, atque?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga qui doloremque dolore asperiores dicta?</p>
                </div>
            </section>
            <div class="galleryWrap">
                <div class="notice">
                    <h4>공지사항</h4>
                    <ul class="active">
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, delectus.</a><span>2023.06.02</span></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, delectus.</a><span>2023.06.02</span></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, delectus.</a><span>2023.06.02</span></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, delectus.</a><span>2023.06.02</span></li>
                    </ul>
                </div>
                <div class="gallery">
                    <h4>갤러리</h4>
                    <div class="imgInner">
                        <div class="inner">
                            <div class="img">
                                <img src="images/gallery01.jpg" alt="갤러리1">
                                <h5>Lorem.</h5>
                            </div>
                            <div class="img">
                                <img src="images/gallery01.jpg" alt="갤러리1">
                                <h5>Lorem.</h5>
                            </div>
                            <div class="img">
                                <img src="images/gallery01.jpg" alt="갤러리1">
                                <h5>Lorem.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer id="footer">
        <h2 class="logo">푸른마을</h2>
        <div class="desc">
            <ul>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
            </ul>
            <address>
                15073 전라북도 군산시 군산로 237 (정왕동) 산업대학교 COPYRIGHT(C) ALL RIGHTS RESERVED.
            </address>
        </div>
    </footer>
    <div class="modal">
        <h5>lorem</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore fuga soluta, numquam repudiandae harum nulla.</p>
        <span>닫기</span>
    </div>
</body>
</html>