<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서울구석구석</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="inner">
            <header id="header">
                <h1>서울구석구석</h1>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#">지금의 서울</a>
                            <ul class="submemu">
                                <li><a href="#">이벤트</a></li>
                                <li><a href="#">축제&행사</a></li>
                                <li><a href="#">전시</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">추천</a>
                            <ul class="submemu">
                                <li><a href="#">에디터추천</a></li>
                                <li><a href="#">테마코스</a></li>
                                <li><a href="#">도보해설관광</a></li>
                                <li><a href="#">한류관광</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">여행지</a>
                            <ul class="submemu">
                                <li><a href="#">명소</a></li>
                                <li><a href="#">엔터테인먼트</a></li>
                                <li><a href="#">음식</a></li>
                                <li><a href="#">게스트하우스</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">여행정보</a>
                            <ul class="submemu">
                                <li><a href="#">가이드북&지도</a></li>
                                <li><a href="#">시티투어버스</a></li>
                                <li><a href="#">날씨</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <article id="article">
                <div class="article_inner">
                    <div class="slider_wrap">
                        <div class="silder">
                            <img src="images/slider01.png" alt="꽃구경">
                            <img src="images/slider02.png" alt="고궁구경">
                            <img src="images/slider03.png" alt="거리구경">
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>
                <div class="notice_inner">
                    <div class="notice">
                        <h3>공지사항</h3>
                        <ul>
                            <li class="modal_open"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laborum!</a><span>2023.05.26</span></li>
                            <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laborum!</a><span>2023.05.26</span></li>
                            <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, laborum!</a><span>2023.05.26</span></li>
                        </ul>
                    </div>
                    <div class="gallery">
                        <h3>갤러리</h3>
                        <div class="gallery_inner">
                            <div>
                                <img src="images/gallery03.jpg" alt="고궁">
                                <p>아침에보는 고궁</p>
                            </div>
                            <div>
                                <img src="images/gallery01.jpg" alt="고궁">
                                <p>낮에보는 고궁</p>
                            </div>
                            <div>
                                <img src="images/gallery02.jpg" alt="고궁">
                                <p>밤에보는 고궁</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <footer id="footer">
            <div class="logo">서울구석구석</div>
            <div class="address">
                <address>Copyright © 2023 Vallery Festival. All rights reserved.  Designed by Vallery Festival</address>
                <div class="site">
                    <select name="#" id="select">
                        <option value="seoul">서울시청</option>
                        <option value="seoul">서울박물관</option>
                        <option value="seoul">서울시립도서관</option>
                    </select>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal">
        <h3>title</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae exercitationem perferendis tenetur, rerum non minima autem labore nostrum maxime ducimus numquam expedita error quas illo facere amet necessitatibus eos laborum.</p>
        <span class="close">닫기</span>
    </div>
</body>
</html>