<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산업대학교</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="container">
                <h1 class="logo">
                    <a href="#">산업대학교</a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">대학소개</a>
                            <ul>
                                <li><a href="#">총장인사말</a></li>
                                <li><a href="#">학교소개</a></li>
                                <li><a href="#">홍보관</a></li>
                                <li><a href="#">컴퍼스안내</a></li>
                            </ul>
                        </li>
                        <li><a href="#">입학안내</a>
                            <ul>
                                <li><a href="#">수시모집</a></li>
                                <li><a href="#">정시모집</a></li>
                                <li><a href="#">편입학</a></li>
                                <li><a href="#">재외국민</a></li>
                            </ul>
                        </li>
                        <li><a href="#">정보서비스</a>
                            <ul>
                                <li><a href="#">대학정보알림</a></li>
                                <li><a href="#">정보공개</a></li>
                                <li><a href="#">정보서비스안내</a></li>
                            </ul>
                        </li>
                        <li><a href="#">커뮤니티</a>
                            <ul>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">참여게시판</a></li>
                                <li><a href="#">자료실</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- header -->
        <aside id="slider">
            <div class="container">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <img src="images/slider01.png" alt="미래를 이끄는 열정">
                        <div class="text">
                            <h2>미래를 이끄는 열정</h2>
                            <p>산업대학교</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <img src="images/slider02.png" alt="미래를 이끄는 열정">
                        <div class="text">
                            <h2>당신이 원하는 <strong>교육</strong></h2>
                            <p>산업대학교</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <img src="images/slider03.png" alt="미래를 이끄는 열정">
                        <div class="text">
                            <h2>미래를 향한 우리의 도전</h2>
                            <p>산업대학교</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- aside -->
        <main id="main">
            <div class="container">
                <section class="notice">
                    <h3>공지사항</h3>
                    <ul>
                        <li><a href="#">2023년 신입생 모집중</a><span>2023.05.12</span></li>
                        <li><a href="#">2023년 신입생 모집중</a><span>2023.05.12</span></li>
                        <li><a href="#">2023년 신입생 모집중</a><span>2023.05.12</span></li>
                        <li><a href="#">2023년 신입생 모집중</a><span>2023.05.12</span></li>
                    </ul>
                </section>
                <section class="gallery">
                    <h3>우리학교 풍경</h3>
                    <ul>
                        <li><a href="#"><img src="images/Gallery.png" alt="우리학교 강의실"></a></li>
                        <li><a href="#"><img src="images/Gallery2.png" alt="우리학교 도서관"></a></li>
                        <li><a href="#"><img src="images/Gallery3.png" alt="우리학교 정문 뷰"></a></li>
                    </ul>
                </section>
                <section class="banner">
                    <h3>산업대학교 <br>2023<br>체육대전</h3>
                    <a href="#">바로가기</a>
                </section>
            </div>
        </main>
        <!-- main -->
        <footer id="footer">
            <div class="container">
                <div class="footer1">
                    <div class="footer1-1">
                        <ul>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">정보 공개</a></li>
                            <li><a href="#">홈페이지 운영지침</a></li>
                        </ul>
                    </div>
                    <div class="footer1-2">
                        <ul>
                            115073 경기도 안산시 산기대학로 237 (정왕동) 산업대학교 CPAYRIGHT &copy; ALL RIGHTS RESERVED.
                        </ul>
                    </div>
                </div>
                <div class="footer2">
                    <select name="#" id="#">
                        <option value="1">안양 산업대학교</option>
                        <option value="2">강원 산업대학교</option>
                        <option value="3">부산 산업대학교</option>
                    </select>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </div>
</body>
</html>