/* silder_wrap */

.slider_inner .slider {
    /* height: 600px; */
    background-image: url(../img/silderType01_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.slider_inner .slider.img1{
    background-image: url(../img/silderType01_01.jpg);
}
.slider_inner .slider.img2{
    background-image: url(../img/silderType01_02.jpg);
}
.slider_inner .slider.img3{
    background-image: url(../img/silderType01_03.jpg);
}
.slider_inner .slider::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.silder_info {
    padding: 100px 0;
}
.silder_info .small {
    display: inline-block;
    padding: 1px 30px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.silder_info .title {
    font-size: 80px;
    color: #fff;
    margin-bottom: 40px;
    margin-left: -5px;
}
.silder_info .desc {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    width: 50%;
    word-break: keep-all;
}
.silder_info .btn {
    margin-top: 100px;
}
.silder_info .btn a {
    width: 180px;
    height: 40px;
    background-color: #fff;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-right: 4px;
}
.silder_info .btn a:last-child{
    background-color: #000;
    color: #fff;
}
.slider_arrow a {
    position: absolute;
    top: 50%;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    width: 30px;
    height: 56px;
    display: block;
    margin-top: -28px;
}
.slider_arrow a:first-child {
    left: 20px;
}
.slider_arrow a:last-child {
    right: 20px;
    background-position: -52px 0;
}
.slider_dot {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.slider_dot a {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    margin: 0 3px;
}
.slider_dot a.dot {
    background-position: -101px -1px;
}
.slider_dot a.active {
    background-position: -121px -1px;
}
.slider_dot a.play {
    background-position: -141px -1px;
}
.slider_dot a.stop {
    background-position: -161px -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
        .slider_inner .slider {
            background-image: url(../img/silderType01_01.jpg);
        }
}
/* swiper */
.swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 56px;
    background-image: url(../img/icon_main.svg);

}
.swiper-button-next {
    background-position: -52px 0;
}
.swiper-button-prev::after,
.swiper-button-next::after
{
    font-size: 0;
}
.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -101px -1px;
    opacity: 1;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    background-position: -121px -1px;
}
.swiper-pagination {
    bottom: 20px !important;
}
.swiper-button {
    position: absolute;
    left: 52%;
    bottom: 24px;
    display: flex;
    margin-right: 40px;
    z-index: 100;
}
.swiper-button-play {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -141px -1px;
    cursor: pointer;
}
.swiper-button-stop {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -161px -1px;
    cursor: pointer;
}
/* 미디어쿼리 */
@media (max-width : 1200px) {
    .slider {
        text-align: center;
    }
    .silder_info .desc {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }
}
@media (max-width : 960px) {
    .silder_info .title {
        font-size: 40px;
    }
    .silder_info .btn {
        margin-top: 50px;
    }
}
@media (max-width : 600px) {
    .silder_info {
        padding: 50px 0 70px;
    }
    .silder_info .title {
        font-size: 30px;
    }
    .slider_info .desc {
        font-size: 14px;
    }
    .slider_info .btn a {
        width: 120px;
        font-size: 14px;
        padding: 6px 0;
    }
    .silder_info .btn {
        margin-top: 30px;
    }
    .swiper-pagination {
        bottom: 10px !important;
    }
    .swiper-button {
        bottom: 14px;
    }
}
.swiper-button-prev, .swiper-button-next {
    display: none;
}