#textType {
    margin-top: 56px;
    padding: 80px 0 56px;
    background-color: #ffefeb;
}
#textType .image_title {
    font-size: 22px;
    color: #ff5c35;
    font-weight: 700;
}
#textType img {
    width: 326px;
    height: 200px;
    margin-right: 10px;
    vertical-align: top;
}
.swiper {
    margin-top: 40px;
}
#textType .text_title {
    margin-top: 25px;
    
}
#textType .text_title a {
    line-height: 24px;
    font-size: 14px;
    color: #858589;
}

#textType .text_title em {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-more.png);
    background-position: 50% 50%;
    vertical-align: top;
}
