/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #262626;
    color: #fff;
    padding: 10px;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
#header::before {
    content: "";
    border: 4px ridge #a3a3a3;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#header h1 {
    font-size: 28px;
    padding: 5px 5px 5px 10px;
    font-family: 'DungGeunMo';
    position: relative;
    z-index: 10;
}
#header h1 a {
    color: #fff;
}
#header h1 em {
    font-size: 0.5em;
}
#header ul {
    padding: 5px;
}
#header li {
    display: inline;
    z-index: 10;
    position: relative;
}
#header li a {
    color: #fff;
    font-family: 'DungGeunMo';
    border: 1px dashed #fff;
    display: inline-block;
    padding: 5px;
}
#header li.active a,
#header li a:hover {
    background-color: #fff;
    color: #000;
}


/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #262626;
    width: 100%;
    text-align: center;
}
#footer a {
    color: #fff;
    padding: 20px;
    display: block;
    font-family: 'DungGeunMo';
    position: relative;
    z-index: 10;
}
#footer::before {
    content: "";
    border: 4px ridge #a3a3a3;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    
}

#main {
    padding: 100px 0;
}

/* quiz_wrap */
.quiz_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.quiz_wrap .quiz {
    width: 500px;
    background-color: #fff;
    border: 8px ridge #ecb2b2;
    margin: 10px;
}
.quiz_title {
    background-color: #ecb2b2;
    border: 3px ridge #ecb2b2;
    border-bottom-width: 6px;
    padding: 5px;
    font-family: 'DungGeunMo';
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
}
.quiz_quection {
    padding: 20px;
    font-size: 24px;
    font-family: 'NanumSquareNeo';
    line-height: 1.4;
    font-weight: bold;
    border-bottom: 6px ridge #ecb2b2;
}
.quiz_quection em {
    color: hotpink;
}
.quiz_answer {
    padding: 20px;
    font-size: 24px;
    font-family: 'NanumSquareNeo';
    text-align: center;
    /* border-bottom: 6px ridge #cacaca; */
}
.quiz_answer .confirm {
    background-color: #ecb2b2;
    border: 6px ridge #ecb2b2;
    width: 100%;
    font-family: 'NanumSquareNeo';
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 2px 2px 0px rgba(212, 153, 153, 0.7);
}
.quiz_answer .next {
    background-color: #f19d9d;
    border: 6px ridge #f19d9d;
    width: 100%;
    font-family: 'NanumSquareNeo';
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 2px 2px 0px rgba(212, 153, 153, 0.7);
}
.quiz_answer .confirm:hover{
    background-color: #c77676;
}
.quiz_answer .confirm:hover{
    background-color: #f07f7f;
}
.quiz_answer .result {
    background-color: #fff;
    border: 6px ridge #ecb2b2;
    width: 100%;
    font-family: 'NanumSquareNeo';
    padding: 10px 20px;
    font-size: 22px;
    /* display: none; */
}
.quiz_answer .input{
    background-color: #fff;
    border: 6px groove #ecb2b2;
    width: 100%;
    font-family: 'NanumSquareNeo';
    padding: 10px 20px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.quiz_view {
    border-bottom: 6px ridge #ecb2b2;
    overflow: hidden;
}
.quiz_desc {
    border-top: 6px ridge #ecb2b2;
    padding: 20px;
    font-family: "NanumSquareNeo";
    background-color: #f5f5f5;
}
.quiz_desc::before {
    content: "👍Tip ";
    color: hotpink;
    font-weight: bold;
}
.quiz_choice{
    border-bottom: 6px ridge #ecb2b2;
    padding: 20px;
}
.quiz_choice label {
    display: flex;
}
.quiz_choice label input {
    position: absolute;
    clip:rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: 1px;
    overflow: hidden;
}
.quiz_choice label span {
    font-size: 20px;
    line-height: 1.3;
    padding: 6px;
    display: flex;
    cursor: pointer;
    margin: 2px 0;
}
.quiz_choice label span::before{
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 15px;
    background: #fff;
    box-shadow: inset 0 0 0 4px #3b3b3b;
    transition: all 0.2s;
    flex-shrink: 0; /* 기본 크기 유지 */
}
.quiz_choice label input:checked + span{
    background-color: #e27ed5;
}
.quiz_choice label input:checked + span::before{
    box-shadow: inset 0 0 0 8px #3b3b3b;
}
.quiz_check {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    z-index: 1000;
    background-color: #444;
    color: #fff;
    text-align: center;
    font-family: "NanumSquareNeo";
    cursor: pointer;
}
.quiz_info {
    position: fixed;
    right: 20px;
    bottom: 170px;
    background-color: #ff3c3c;
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-family: "NanumSquareNeo";
    color: #fff;
}
.quiz_info::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    border-top: 10px solid #39ee7e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
/* quiz_wrap */
.quiz_wrap_cbt {
    padding: 0 20px;
    font-family: "NanumSquareNeo";
}
.cbt_conts {
    width: calc(100% - 300px);
    background-color: #fff;
}
.cbt_header {
    background-color: #fff;
    width: calc(100% - 300px);
    border: 8px ridge #dfa0a0;
    background-color: #ecb7e5;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.cbt_submit {
    position: relative;
    padding-left: 40px !important;
    float: right;
    margin: 3px 0;
}
.cbt_submit::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 30px;
    height: 45px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="30" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke="none" d="M0 0h24v24H0z" fill="none"/%3E%3Cpath d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /%3E%3Cpath d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /%3E%3Cline x1="16" y1="5" x2="19" y2="8" /%3E%3C/svg%3E');
    
}
.cbt_header > div > div {
    background-color: #da0707;
    display: inline-block;
    margin: 3px 0;
    color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
}
.cbt_time {
    position: relative;
    padding-left: 40px !important;
    margin-bottom: 5px;
    float: right;
}
.cbt_time::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 30px;
    height: 45px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alarm" width="30" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke="none" d="M0 0h24v24H0z" fill="none"/%3E%3Ccircle cx="12" cy="13" r="7" /%3E%3Cpolyline points="12 10 12 13 14 13" /%3E%3Cline x1="7" y1="4" x2="4.25" y2="6" /%3E%3Cline x1="17" y1="4" x2="19.75" y2="6" /%3E%3C/svg%3E');
}
.cbt_aside {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 280px;
    height: 800px;
    background-color: #fdfdfd;
    border: 8px ridge #dfa0a0;
}
.cbt_quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cbt_quiz .cbt {
    width: 49%;
    border: 8px ridge #dfa0a0;
    margin-bottom: 10px;
    padding: 20px;
}
.cbt_quiz .cbt.good {
    position: relative;
}
.cbt_quiz .cbt.good::after {
    content: "";
    background-image: url(../img/O.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.cbt_quiz .cbt.bad {
    position: relative;
}
.cbt_quiz .cbt.bad::after {
    content: "";
    background-image: url(../img/X.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.cbt_info {
    background-color: #ecb2b2;
    border-bottom: 8px ridge #dfa0a0;
    padding: 20px;
    text-align: center;
}
.cbt_info .title {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 5px;
}
.cbt_info span {
    display: inline-block;
}
.cbt_omr {
    padding: 20px;
}
.cbt_omr .omr {
    margin: 5px 0 ;
    display: grid;
    grid-template-columns: 50px 38px 38px 38px 38px;
    grid-template-rows: 20px;
    align-items: center;
}
.cbt_omr .omr input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.cbt_omr .omr strong {
    display: inline-block;
    text-align: center;
    padding: 2px;
    background-color: #dfa0a0;
    color: #fff;
    font-family: 'Helvetica Neue';
    margin-right: 10px;
    font-weight: bold;
}
.cbt_omr .omr label {
    box-shadow: 0px 0px 0px 1px #313e55;
    cursor: pointer;
    line-height: 0.4;
    text-align: center;
    width: 28px;
    height: 8px;
    font-family: 'Helvetica Neue';
    position: relative;
}
.cbt_omr .omr label::after {
    background-color: #555;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width 0.1s linear;
}
.cbt_omr .omr input[type=radio]:checked + label::after {
    width: 100%;
}
.cbt_omr .omr .label_inner {
    background-color: #fff;
    padding: 0.25em 0.13em;
    transform: translateY(-0.25em);
    width: 20px;
    color: #313e55;
}
.cbt_question {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.cbt_question_img img {
    max-width: 400px;
    margin-bottom: 15px;
}
.cbt_question_desc {
    border: 2px solid #cacaca;
    padding: 10px;
    margin-bottom: 15px;
}
.cbt_selects {
    margin-bottom: 15px;
}
.cbt_selects label {
    display: flex;
}
.cbt_selects label span {
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    color: #444;
    position: relative;
}
.cbt_selects label span::before {
    content: "1";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 50%;
    text-align:center;
    font-family: 'Helvetica Neue';
    line-height: 1.3;
    font-weight: bold;
    font-size: 0.83em;
    transition: all 0.25s;
}
.cbt_selects label:nth-of-type(1) span::before {
    content: "1";
}
.cbt_selects label:nth-of-type(2) span::before {
    content: "2";
}
.cbt_selects label:nth-of-type(3) span::before {
    content: "3";
}
.cbt_selects label:nth-of-type(4) span::before {
    content: "4";
}
.cbt_selects input {
    position: absolute;
    left: -9999px;
}
.cbt_selects input:checked + label span::before {
    box-shadow: inset 0 0 0 10px #000;
    color: #fff;
    border-color: #000;
}
.cbt_desc {
    background: #dd8bb4;
    padding: 10px 10px 10px 40px;
    margin-bottom: 5px;
    position: relative;
}
.cbt_desc::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5' /%3E%3C/svg%3E%0A");
}
.cbt_keyword {
    background: #dfa0a0;
    padding: 10px 10px 10px 40px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
}
.cbt_keyword::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-key' width='20' height='20' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='8' cy='15' r='4' /%3E%3Cline x1='10.85' y1='12.15' x2='19' y2='4' /%3E%3Cline x1='18' y1='5' x2='20' y2='7' /%3E%3Cline x1='15' y1='8' x2='17' y2='10' /%3E%3C/svg%3E");
}
/* dog_wrap */

.dog .tail, 
.dog .chin, 
.dog .tongue::before, 
.dog .tongue::after, 
.dog .mouth, 
.dog .nose, 
.dog .teardrop, 
.dog .eyes, 
.dog .face::before, 
.dog .face::after, 
.dog .ears::before, 
.dog .ears::after, 
.dog_wrap {
    transition: 0.2s ease-in;
    position: relative;
    }
.dog_wrap .ture {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #F5534F;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 70%;
    top: 100px;
    opacity: 0;
    z-index: 2;
}
.dog_wrap .false {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #F5534F;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 70%;
    top: 100px;
    opacity: 0;
    z-index: 2;
}
.dog_wrap.like .ture {
    opacity: 1;
    animation: wobble 0.6s;
}
.dog_wrap.dislike .false {
    opacity: 1;
    animation: wobble 0.6s;
}
@keyframes wobble {
    0% {transform: translateX(0) rotate(0deg);}
    15% {transform: translateX(-25%) rotate(-5deg);}
    30% {transform: translateX(20%) rotate(3deg);}
    45% {transform: translateX(-15%) rotate(-3deg);}
    60% {transform: translateX(10%) rotate(2deg);}
    75% {transform: translateX(-5%) rotate(-1deg);}
    100% {transform: translateX(0) rotate(0deg);}
}

.card-container {
    position: relative;
    width: 360px;
    height: 378px;
    margin: auto;
    padding-top: 125px;
    border-radius: 3%;
    z-index: 0;
}
.card-container::before,
.card-container::after {
    content: "";
    position: absolute;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 3%;
    z-index: -1;
}
.card-container::before {
    top: 3%;
    width: 93%;
    background: rgba(212, 153, 153, 0.7);
}
.card-container::after {
    top: 5.5%;
    width: 85%;
    background: rgba(182, 135, 135, 0.35);
}
.dog .head,
.dog .body {
    position: relative;
    width: 115px;
}
.dog .head {
    height: 115px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}
.dog .ears {
    position: relative;
    top: -14%;
    width: 100%;
}
.dog .ears::before,
.dog .ears::after {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    height: 70px;
    background: #CB7A1D;
    border-top: 11px solid #F7AA2B;
    border-left: 7px solid #F7AA2B;
    border-right: 7px solid #F7AA2B;
}
.dog .ears::before {
    left: 0;
    border-radius: 50% 45% 0 0;
}
.dog .ears::after {
    right: 0;
    border-radius: 45% 50% 0 0;
}
.dog .face {
    position: absolute;
    background: #F7AA2B;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}
.dog .face::before,
.dog .face::after {
    content: "";
    display: block;
    margin: auto;
    background: #FEFEFE;
}
.dog .face::before {
    width: 15px;
    height: 35px;
    margin-top: 24px;
    border-radius: 20px 20px 0 0;
}
.dog .face::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 60px;
    height: 65px;
    border-radius: 45% 45% 0 0;
}
.dog .eyes {
    position: relative;
    top: 29%;
    text-align: center;
}
.dog .eyes::before,
.dog .eyes::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #451d1c;
    margin: 0 14.5%;
}
.dog .teardrop {
    position: absolute;
    top: 125%;
    left: 19%;
    width: 6px;
    height: 6px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    background: #FEFEFE;
    visibility: hidden;
}
.dog .nose {
    position: relative;
    top: 35%;
    width: 16px;
    height: 8px;
    border-radius: 35px 35px 65px 65px;
    background: #451d1c;
    margin: auto;
}
.dog .mouth {
    position: relative;
    top: 34.5%;
    width: 4px;
    height: 6px;
    margin: 0 auto;
    text-align: center;
    background: #451d1c;
}
.dog .mouth::before,
.dog .mouth::after {
    content: "";
    position: absolute;
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #451d1c;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 2;
}
.dog .mouth::before {
    transform: translateX(-89%) rotate(45deg);
}
.dog .mouth::after {
    transform: translateX(-2px) rotate(45deg);
}
.dog .tongue {
    position: relative;
    z-index: 1;
}
.dog .tongue::before,
.dog .tongue::after {
    content: "";
    position: absolute;
}
.dog .tongue::before {
    top: 10px;
    left: -7px;
    width: 18px;
    height: 0;
    border-radius: 50%;
    background: #451d1c;
    z-index: -1;
}
.dog .tongue::after {
    top: 14px;
    left: -4px;
    width: 12px;
    height: 0;
    border-radius: 20px;
    background: #F5534F;
    z-index: 5;
}

.dog .chin {
    position: relative;
    top: 47.5%;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-top: 10px solid #e8e7ec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px;
    z-index: 0;
}

.dog .body {
    position: relative;
    height: 139px;
    margin: auto;
    z-index: 0;
}

.dog .body::before,
.dog .body::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin: auto;
    background: #F7AA2B;
}

.dog .body::after {
    top: -2px;
    bottom: -1px;
    width: 60px;
    background: #FEFEFE;
}

.dog .tail {
    position: absolute;
    left: -60%;
    bottom: 1px;
    background: #F7AA2B;
    width: 93px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
    border-radius: 25px 0 0 25px;
    z-index: -2;
}

.dog .legs {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 15%;
    background: #F7AA2B;
    border-radius: 10px 10px 0 0;
}

.dog .legs::before,
.dog .legs::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: #CB7A1D;
    z-index: -1;
}

.dog .legs::before {
    left: -7.5%;
    width: 115%;
    height: 55%;
    border-radius: 5px 5px 0 0;
}

.dog .legs::after {
    left: -3.5%;
    width: 107%;
    height: 250%;
    border-radius: 20px 20px 35px 35px;
}

@keyframes movetongue {
    100% {
        height: 27px;
    }
}

@keyframes movetail {
    0% {
        transform: rotate(37deg);
    }

    100% {
        transform: rotate(52deg);
    }
}

@keyframes cry {
    100% {
        visibility: visible;
    }
}

.like {
    background-color: #c746b6;
    transition: 0.3s;
}
.like .face::before {
    margin-top: 10px;
}

.like .face::after {
    height: 85px;
}

.like .eyes {
    top: 13%;
}

.like .eyes::before,
.like .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 12.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.like .eyes::after {
    transform: rotate(37.5deg);
}

.like .nose {
    top: 18%;
}

.like .mouth {
    top: 16.5%;
}

.like .tongue::before {
    height: 12px;
}

.like .tongue::after {
    height: 24px;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
}

.like .chin {
    top: 34%;
}

.tail {
    animation: movetail 0.1s linear infinite alternate forwards;
}

.dislike {
    background-color: #555;
}

.dislike .ears::before {
    transform: rotate(-50deg) translate(-7px, 2px);
}

.dislike .ears::after {
    transform: rotate(50deg) translate(7px, 2px);
}

.dislike .face::before {
    margin-top: 28px;
}

.dislike .face::after {
    height: 55px;
}

.dislike .eyes {
    top: 38%;
}

.dislike .eyes::before,
.dislike .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 14.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.dislike .eyes::after {
    transform: rotate(37.5deg);
}

.dislike .teardrop {
    animation: cry 0.1s ease-in 0.25s forwards;
}

.dislike .nose {
    top: 44%;
}

.dislike .mouth {
    top: 42%;
}

.dislike .chin {
    top: 52%;
}

.dislike .tail {
    transform: rotate(0);
}

/* 미디어 쿼리 */
@media (min-width: 1400px){
    .cbt_quiz .cbt {
        width: 32.333%;
    }
}
@media (max-width: 960px) {
    .cbt_quiz .cbt {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .cbt_aside {
        position: relative;
        display: none;
    }
    .cbt_header {
        width: 100%;
        flex-direction: column;
    }
    .cbt_header h2 {
        margin-bottom: 10px;
    }
    .cbt_conts {
        width: 100%;
    }
}