<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>싸이트 만들기</title>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="wrap">
        <div class="container">
            <header>
                <h1><img src="images/logo.png" alt=""></h1>
                <nav>
                    <ul>
                        <li class="hover">
                            <a href="#">축제소개</a>
                            <ul class="pop">
                                <li><a href="#">Festival소개</a></li>
                                <li><a href="#">행사장안내</a></li>
                                <li><a href="#">조직위원회</a></li>
                            </ul>
                        </li>
                        <li class="hover">
                            <a href="#">예약안내</a>
                            <ul class="pop">
                                <li><a href="#">예약하기</a></li>
                                <li><a href="#">예약확인/취소</a></li>
                                <li><a href="#">단체예약문의</a></li>
                            </ul>
                        </li>
                        <li class="hover">
                            <a href="#">아티스트</a>
                            <ul class="pop">
                                <li><a href="#">고릴라즈</a></li>
                                <li><a href="#">메이저 레이저</a></li>
                                <li><a href="#">아우스게인</a></li>
                                <li><a href="#">타임로드</a></li>
                            </ul>
                        </li>
                        <li class="hover">
                            <a href="#">커뮤니티</a>
                            <ul class="pop">
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">사진갤러리</a></li>
                                <li><a href="#">영상갤러리</a></li>
                            </ul>
                        </li>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <section>
                    <div class="slider_wrap">
                        <div class="slider">
                            <img src="images/slider01.png" alt="">
                            <img src="images/slider02.png" alt="">
                            <img src="images/slider03.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="inner">
                    <article class="art1">
                        <div class="art1_wrap">
                            <h3>공지사항</h3>
                                <a class="modal" href="#">오늘의 알림 <span>2022.05.19</span></a>
                                <a href="#">오늘의 알림 <span>2022.05.19</span></a>
                                <a href="#">오늘의 알림 <span>2022.05.19</span></a>
                                <a href="#">오늘의 알림 <span>2022.05.19</span></a>
                        </div>
                    </article>
                    <article class="art2">
                        <div class="gallery">
                            <h3>갤러리</h3>
                            <a href="#"><img src="images/Gallery.png" alt="별"></a>
                            <a href="#"><img src="images/Gallery2.png" alt="별"></a>
                            <a href="#"><img src="images/Gallery3.png" alt="별"></a>
                        </div>
                    </article>
                    <article class="art3">
                        <a href="#">바로가기</a>
                        <img src="images/banner.jpg" alt="바로가기">
                    </article>
                </div>
                <footer>
                    <div class="fot1">
                        <img src="images/logo.png" alt="로고">
                    </div>
                    <div class="fot2">
                        <address>
                            <ul>
                                <li><a href="#">개인정보 이용방침</a></li>
                                <li><a href="#">정보공개</a></li>
                                <li><a href="#">운영지침</a></li>
                            </ul>
                            <div>15073 경기도 안산시 산기대학로 237 (정왕동) 산업대학교 COPYRIGHT&copy; ALL RIGHTS RESERVED.</div>
                        </address>
                    </div>
                    <div class="fot3">
                        <select name="#" id="select">
                            <option value="famelly">패밀리싸이트</option>
                            <option value="famelly">가족싸이트</option>
                            <option value="famelly">친구싸이트</option>
                        </select>
                    </div>
                </footer>
            </main>
        </div>
    </div>
    <div class="modal">
        <h2>Lorem.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, inventore! Deleniti minima totam voluptates itaque maiores minus repellendus? Nam ipsam accusamus, ab in nulla eos cum eum voluptate velit itaque.</p>
        <span><a href="#">닫기</a></span>
    </div>
</body>
</html>